@import url(/vendor/normalize.css);

@import url(/blocks/header/header.css);
@import url(/blocks/header/__title/header__title.css);
@import url(/blocks/header/__subtitle/header__subtitle.css);
@import url(/blocks/header/__main-illustration/header__main-illustration.css);
@import url(/blocks/header/__square-pic/header__square-pic.css);

@import url(/blocks/logo/loge_place_header/logo_place_header.css);

@import url(/blocks/description/description.css);
@import url(/blocks/two-columns/two-columns.css);
@import url(/blocks/two-columns/__brief/two-columns__brief.css);
@import url(/blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(/blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(/blocks/two-columns/__span-accent/two-columns__span-accent.css);


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  /* font-family: 'Helvetica Neue', Arial, sans-serif; */
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
